<a href="https://colab.research.google.com/github/BrezginaVera/Python_libraries/blob/main/Homework_lession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Работа с Pandas

In [1]:
#Задание 1
import pandas as pd
import numpy as np
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский'],
})
book = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290],
})

In [2]:
#Задание 2
authors_price = pd.merge(authors, book, on='author_id',how='inner')

In [3]:
#Задание 3
top5 = authors_price.nlargest(5, 'price')

In [4]:
#Задание 4
min_price = authors_price.groupby('author_name').agg({'price':'min'}).rename(columns=({'price':'min_price'}))
max_price = authors_price.groupby('author_name').agg({'price':'max'}).rename(columns=({'price':'max_price'}))
mean_price = authors_price.groupby('author_name').agg({'price':'mean'}).rename(columns=({'price':'mean_price'}))
authors_stat = pd.concat([min_price, max_price, mean_price], axis=1)

In [5]:
#Задание 5
cover = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']})
authors_price = pd.concat([authors_price, cover], axis=1)

In [6]:
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum)
book_info['твердая'].fillna(0, inplace=True)
book_info['мягкая'].fillna(0, inplace=True)
book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')
book_info2

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [ ]:
### Вычисления с помощью Numpy

In [7]:
#Задание 1
import numpy as np
a = np.array([[1,6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1,7]])
a_mean = a.mean(axis=0)
print('Среднее значение по каждому признаку: ', a_mean)

Среднее значение по каждому признаку:  [2.  8.4]

In [8]:
#Задание 2
a_centered = a - a_mean

In [9]:
#Задание 3
A = np.array([-1, 0, 1, 1, -1])
B = np.array([-2.4, -0.4, 2.6, 1.6, -1.4])
a_centered_sp = A.dot(B)/4
print(a_centered_sp)

2.0

In [10]:
#Задание 4
a_T = a.T
a_cov = np.cov(a_T)
print (a_cov)
#Значение ковариации - 2

[[1.  2. ]
 [2.  4.3]]